{% load static %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CAETS | CAETS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/png" href={% static 'img/logo.png' %}>
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
   <link rel="stylesheet" href="{% static 'css/admin/bootstrap.min.css' %}" type="text/css">

    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <!-- owl.carousel CSS
		============================================ -->
   <link rel="stylesheet" href="{% static 'css/admin/owl.carousel.css' %}" type="text/css">
   <link rel="stylesheet" href="{% static 'css/admin/owl.theme.css' %}" type="text/css">
   <link rel="stylesheet" href="{% static 'css/admin/owl.transitions.css' %}" type="text/css">

    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/admin/animate.css' %}" type="text/css">

    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/admin/normalize.css' %}" type="text/css">

    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/admin/meanmenu.min.css' %}" type="text/css">

    <!-- main CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/admin/main.css' %}" type="text/css">

    <!-- forms CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/admin/form/all-type-forms.css' %}" type="text/css">

    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="css/educate-custon-icon.css">
   <link rel="stylesheet" href="{% static 'css/admin/educate-custon-icon.css' %}" type="text/css">


    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/admin/morrisjs/morris.css' %}" type="text/css">

    <!-- dropzone CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/admin/dropzone/dropzone.css' %}" type="text/css">

    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/admin/scrollbar/jquery.mCustomScrollbar.min.css' %}" type="text/css">

    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/admin/metisMenu/metisMenu.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/admin/metisMenu/metisMenu-vertical.css' %}" type="text/css">

    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/admin/style.css' %}">
    <!-- responsive CSS
		============================================ -->
     <link rel="stylesheet" href="{% static 'css/admin/responsive.css' %}">

    <!-- modernizr JS
		============================================ -->
    <script rel="stylesheet" href="{% static 'js/admin/vendor/modernizr-2.8.3.min.js' %}"></script>

</head>