{% load static %}
{% include 'admin_dashboard/includes/header.html' %}


        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a href="#description">Check-In</a></li>
                                <li><a href="#reviews">Check-Out</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div id="dropzone1" class="pro-ad">

                                      {% if all_attendees_checkedin %}
                                         <table class="table table-striped ">
                                            <thead>
                                            <th>No</th>
                                            <th>Member</th>
                                            <th>Guest</th>
                                            <th>Department</th>
                                            <th>Check-In time</th>
                                            <th>Check-Out time</th>
                                            <th>Status</th>
                                            </thead>
                                            {% for checkedins in all_attendees_checkedin.data %}
                                           <tr>
                                           <td> {{ forloop.counter}}</td>

                                              {% if checkedins.member.id == null %}
                                               <td>-</td>
                                               {% else %}
                                              <td>{{ checkedins.member.fname }} {{ checkedins.member.lname }}</td>
                                               {% endif %}

                                             {% if checkedins.guest.id == null %}
                                               <td>-</td>
                                               {% else %}
                                              <td>{{ checkedins.guest.fullname }}</td>
                                               <td>{{ checkedins.guest.dept.depname }}</td>
                                               {% endif %}

                                             {% if checkedins.member.id != null %}
                                             <td>{{ checkedins.member.dept.depname }}</td>
                                              {% endif %}

                                             <td>{{ checkedins.checkin_time }}</td>
                                             <td>Not yet</td>
                                            <td> <btn class="btn btn-warning"> checked-in </btn> </td>
                                            </tr>
                                             {% endfor %}
                                        </table>

                                        {% else %}
                                   <p>No available info</p>
                                   {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="reviews">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                                         {% if all_attendees_checkedout %}
                                         <table class="table table-striped ">
                                            <thead>
                                            <th>No</th>
                                            <th>Member</th>
                                            <th>Guest</th>
                                            <th>Department</th>
                                            <th>Check-In time</th>
                                            <th>Check-Out time</th>
                                            <th>Status</th>
                                            </thead>
                                            {% for checkedout in all_attendees_checkedout.data %}
                                           <tr>
                                           <td>{{ forloop.counter}}</td>

                                              {% if checkedout.member.id == null %}
                                               <td>-</td>
                                               {% else %}
                                              <td>{{ checkedout.member.fname }} {{ checkedout.member.lname }}</td>
                                               {% endif %}

                                             {% if checkedout.guest.id == null %}
                                               <td>-</td>
                                               {% else %}
                                              <td>{{ checkedout.guest.fullname }}</td>
                                               <td>{{ checkedout.guest.dept.depname }}</td>
                                               {% endif %}

                                             {% if checkedout.member.id != null %}
                                             <td>{{ checkedout.member.dept.depname }}</td>
                                              {% endif %}

                                             <td>{{ checkedout.checkin_time }}</td>
                                             <td>{{ checkedout.checkout_time }}</td>
                                            <td> <btn class="btn btn-success"> checked-out </btn> </td>
                                            </tr>
                                             {% endfor %}
                                        </table>

                                        {% else %}
                                      <p class="col-md-offset-5">No available info</p>
                                   {% endif %}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% include 'admin_dashboard/includes/footer.html' %}
