{% load static %}
{% include 'admin_dashboard/includes/header.html' %}


        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a href="#description"> New Department</a></li>
                                <li><a href="#reviews"> All Department</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <div class="review-content-section">
                                                <div id="dropzone1" class="pro-ad">
                                                      <form action="{% url 'department' %}" class="needsclick addcourse" autocomplete="off" method="post" >

                                                            {% csrf_token %}

                                                            <div class="row">
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-md-offset-1">

                                                                   {% for message in messages %}
                                                            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            {{ message | safe }}
                                                               </div>
                                                         {% endfor %}
                                                                <div class="form-group">
                                                                  <input type="text" name="department" placeholder="Department name" type="text" class="form-control">

                                                                </div>
                                                            <div class="form-group">
                                                                <textarea type="text" name="description" class="form-control" placeholder="Description"></textarea>
                                                            </div>

                                                                <div class="form-group">
                                                                    <input name="submit" id="" type="submit" class="btn-lg btn btn-primary col-lg-12" value="Submit">
                                                                </div>
                                                            </div>
                                                            </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="reviews">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                        {% if alldepartments %}

                                                       <table class="table table-striped">
                                                           <thead>
                                                           <th>No</th>
                                                           <th>Department name</th>
                                                           <th>Description</th>
                                                           <th>Created at</th>
                                                           <th>Status</th>
                                                           </thead>
                                                          <tbody>
                                                            {% for departments in alldepartments %}
                                                           <tr>
                                                               <td> {{ forloop.counter|add:alldepartments.start_index }}</td>
                                                               <td>{{ departments.depname }}</td>
                                                               <td>{{ departments.description }}</td>
                                                               <td>{{ departments.created_at|date:"d-m-Y h:m" }}</td>
                                                               <td><input type="checkbox" checked data-toggle="toggle" data-size="sm"></td>
                                                            </tr>
                                                           {% endfor %}


                                                            </tbody>
                                                       </table>
                                                    <!--
                                                    code to display blog posts ...
                                                    -->
                                                    <div class="pagination">
                                                    <span class="step-links">
                                                        {% if alldepartments.has_previous %}
                                                            <b><a href="?page={{ alldepartments.previous_page_number }}">previous</a></b>
                                                        {% endif %}

                                                        &nbsp;&nbsp;&nbsp; <span class="current">
                                                          <b>Page {{ alldepartments.number }}</b>
                                                          </span>&nbsp;&nbsp;&nbsp;

                                                        {% if alldepartments.has_next %}
                                                            <b><a href="?page={{ alldepartments.next_page_number }}">next</a></b>
                                                        {% endif %}
                                                    </span>
                                                    </div>
                                                 {% else %}
                                                         <p> No information available</p>
                                                 {% endif %}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% include 'admin_dashboard/includes/footer.html' %}
