{% load static %}

{% include 'admin_dashboard/includes/header.html' %}


        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a href="#description"> New Finance Info </a></li>
                                <li><a href="#reviews"> Recorded Finance Info</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div id="dropzone1" class="pro-ad">

                                                    <form action="{% url 'finance' %}" class=" needsclick add-professors " autocomplete="off" method="post" >

                                                           {% csrf_token %}

                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-md-offset-1">

                                                        {% for message in messages %}
                                                            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            {{ message | safe }}
                                                               </div>
                                                        {% endfor %}
                                                            <div class="form-group ">
                                                                <select name="student" type="text" class="form-control">
                                                                   <option value=""> -- select student -- </option>
                                                                     {% for student in all_students.data %}
                                                                   <option value="{{ student.id }}"> {{ student.fname }} {{ student.lname }}</option>
                                                                       {% endfor %}
                                                                 </select>
                                                             </div>
                                                            <div class="form-group col-md-6">
                                                                <input name="amount" type="number" class="form-control" placeholder="Paid amount">
                                                            </div>

                                                            <div class="form-group col-md-6">
                                                                <input name="balance" type="number" class="form-control" placeholder="Balance">
                                                            </div>

                                                            <div class="form-group">
                                                                <input name="submit" id="" type="submit" class="btn-lg btn btn-success col-lg-12" value="Submit">
                                                            </div>
                                                            </div>
                                                            </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="reviews">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                      {% if allfinance %}
                                                       <table class="table table-striped">
                                                           <thead>
                                                           <th>No</th>
                                                           <th>First name</th>
                                                           <th>Last name</th>
                                                           <th>Paid</th>
                                                           <th>Balance</th>
                                                           <th>Status</th>
                                                           </thead>
                                                          <tbody>

                                                        {% for finance in allfinance %}
                                                             <tr>
                                                             <td> {{ forloop.counter0|add:allfinance.start_index }}</td>
                                                               <td>{{ finance.user.fname }}</td>
                                                               <td>{{ finance.user.lname }}</td>
                                                                 <td>{{ finance.paid_amount }} Rwf</td>
                                                               <td>{{ finance.balance }} Rwf</td>
                                                               <td><input type="checkbox" checked data-toggle="toggle" data-size="sm"></td>
                                                            </tr>
                                                         {% endfor %}

                                                            </tbody>
                                                       </table>

                                                    <!--
                                                    code to display blog posts ...
                                                    -->
                                                    <div class="pagination">
                                                    <span class="step-links">
                                                        {% if allfinance.has_previous %}
                                                            <b><a href="?page={{ allfinance.previous_page_number }}">previous</a></b>
                                                        {% endif %}

                                                        &nbsp;&nbsp;&nbsp; <span class="current">
                                                          <b>Page {{ allfinance.number }}</b>
                                                          </span>&nbsp;&nbsp;&nbsp;

                                                        {% if allfinance.has_next %}
                                                            <b><a href="?page={{ allfinance.next_page_number }}">next</a></b>
                                                        {% endif %}
                                                    </span>
                                                    </div>
                                                          {% else %}
                                                         <p> No information available</p>
                                                 {% endif %}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% include 'admin_dashboard/includes/footer.html' %}
