{% load static %}

{% include 'admin_dashboard/includes/header.html' %}


        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a href="#description"> New Guest Booking</a></li>
                                <li><a href="#reviews"> View Guest Bookings </a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div id="dropzone1" class="pro-ad">
                                                    <form action="{% url 'guest' %}" class=" needsclick add-professors " autocomplete="off" method="post" >

                                                           {% csrf_token %}

                                                        <div class="row">
                                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-md-offset-1">

                                                        {% for message in messages %}
                                                            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            {{ message | safe }}
                                                               </div>
                                                        {% endfor %}

                                                                <div class="form-group">
                                                                    <select name="department" type="text" class="form-control">
                                                                       <option value="">-- Select department --</option>
                                                                         {% for departmernt in alldepts %}
                                                                       <option value="{{ departmernt.id }}">{{ departmernt.depname }}</option>
                                                                           {% endfor %}

                                                                     </select>
                                                                 </div>

                                                                <div class="form-group ">
                                                                    <input name="fullname" type="text" class="form-control" placeholder="Full Name">
                                                                </div>

                                                                <div class="form-group col-md-6">
                                                                    <input name="village" type="text" class="form-control" placeholder="Village">
                                                                </div>

                                                                <div class="form-group col-md-6">
                                                                    <input name="sector" type="text" class="form-control" placeholder="Sector">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input name="district" id="district" type="text" class="form-control" placeholder="District">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input name="tel" id="tel" type="text" class="form-control" placeholder="Phone number">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input name="nid" id="nid" type="text" class="form-control" placeholder="National Id">
                                                                </div>
                                                                <div class="form-group ">
                                                                    <input name="visit_reason" id="visit_reason" type="text" class="form-control" placeholder="Visit reason">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="submit" id="" type="submit" class="btn-lg btn btn-warning col-lg-12" value="Submit">
                                                                </div>
                                                            </div>
                                                            </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="reviews">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                      {% if allguests %}
                                                       <table class="table table-striped">
                                                           <thead>
                                                           <th>No</th>
                                                           <th>First name</th>
                                                           <th>Telephone</th>
                                                           <th>Address</th>
                                                           <th>Target department</th>
                                                           <th>Edit</th>
                                                           <th>Delete</th>
                                                           <th>Status</th>
                                                           </thead>
                                                          <tbody>
                                                       {% for guets in allguests %}
                                                           <tr>
                                                               <td> {{ forloop.counter0|add:allguests.start_index }}</td>
                                                               <td>{{ guets.fullname }}</td>
                                                               <td>{{ guets.tel_no }}</td>
                                                               <td>{{ guets.village }},{{ guets.sector }}, {{ guets.district }}</td>
                                                               <td>{{ guets.dept.depname }}</td>
                                                               <td><button class="btn-sm btn-success">Approve</button></td>
                                                               <td><button class="btn-sm btn-warning">Reject</button></td>
                                                               <td><input type="checkbox" checked data-toggle="toggle" data-size="sm"></td>
                                                            </tr>
                                                        {% endfor %}
                                                         </tbody>

                                                       </table>



                                                    <div class="pagination">
                                                    <span class="step-links">
                                                        {% if allguests.has_previous %}
                                                            <b><a href="?page={{ allguests.previous_page_number }}">previous</a></b>
                                                        {% endif %}

                                                        &nbsp;&nbsp;&nbsp; <span class="current">
                                                          <b>Page {{ allguests.number }}</b>
                                                          </span>&nbsp;&nbsp;&nbsp;

                                                        {% if allguests.has_next %}
                                                            <b><a href="?page={{ allguests.next_page_number }}">next</a></b>
                                                        {% endif %}
                                                    </span>
                                                    </div>
                                                 {% else %}
                                                         <p> No information available</p>
                                                 {% endif %}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% include 'admin_dashboard/includes/footer.html' %}
