  {% load static %}

                <div class="filter-widget">
                        <h4 class="">Categories</h4>
                        <ul class="filter-catagories">
                           {% if categories %}
                            {% for category in categories %}
                                {% if category.id == 1  %}
                    <li class="active text-warning"><a href="">{{ category.category_name }}</a></li>
                                    {% else %}
                   <li><a href="">{{ category.category_name }}</a></li>
                                {% endif %}
                            {% endfor %}
                         {% endif %}
                        </ul>
                    </div>
