 {% load static %}
  {% load i18n %}

  {% include "includes/head_header.html" %}
{#<!doctype html>#}
{#<html class="no-js" lang="en">#}


    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->


  <div class="container">
                <div class="  col-md-8 offset-2 mt-5">

                         <form action="{% url 'searchb'%}" class="add-professors" autocomplete="off" method="post" >
                                      {% csrf_token %}

                        <div class="form-group ">
                           <input name="search" type="text" class="form-control" placeholder="Search your application by your phone number">
                          </div>
                     </form>

                </div>
                <div class="card mt-5  col-md-8 offset-2">


                 <h4 class="mt-5 mb-5 text-primary">Fill the booking form of  entrance  before you reach in the campus</h4>

                <div class="card-body card-lg mb-5 ">
                   <form action="{% url 'booking' %}" class=" needsclick add-professors" autocomplete="off" method="post" >

                                                           {% csrf_token %}

                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-md-offset-1">

                                                        {% for message in messages %}
                                                            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            {{ message | safe }}
                                                               </div>
                                                        {% endfor %}

                                                                <div class="form-group">
                                                                    <select name="department" type="text" class="form-control">
                                                                       <option value="">-- Select department --</option>
                                                                         {% for departmernt in alldepts %}
                                                                       <option value="{{ departmernt.id }}">{{ departmernt.depname }}</option>
                                                                           {% endfor %}

                                                                     </select>
                                                                 </div>

                                                                <div class="form-group ">
                                                                    <input name="fullname" type="text" class="form-control" placeholder="Full Name">
                                                                </div>

                                                                <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <input name="village" type="text" class="form-control" placeholder="Village">
                                                                </div>

                                                                <div class="form-group col-md-6">
                                                                    <input name="sector" type="text" class="form-control" placeholder="Sector">
                                                                </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <input name="district" id="district" type="text" class="form-control" placeholder="District">
                                                                </div>

                                                              <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <input name="tel" id="tel" type="text" class="form-control" placeholder="Phone number">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input name="nid" id="nid" type="text" class="form-control" placeholder="National Id">
                                                                </div>
                                                                </div>
                                                                <div class="form-group ">
                                                                    <input name="visit_reason" id="visit_reason" type="text" class="form-control" placeholder="Visit reason">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="submit" id="" type="submit" class="btn-lg btn btn-dark  col-lg-8 offset-2" value="Submit">
                                                                </div>
                                                            </div>
                                                            </div>

                                              </form>
                                       </div>
                                    </div>
                                    </div>



       <!-- Modal -->
       <section class="latest-blog spad">
        <div class="container">
       <div class="modal fade " style="margin-top: 140px;" id="AboutmodalDialog" tabindex="-1" role="dialog" aria-labelledby="AboutmodalDialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
            <div class="modal-content  ">
              <div class="modal-header">
                <h5 class="modal-title offset-2 text-info" id="exampleModalLabel">About Campus Automatic Entrance and Exit Tracking System</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body ">
                <p>The Campus Automatic Entrance & Exit Tracking System is a software application designed to manage the majority of the activities and processes that grant entrance permission to the campus for the security, management, and safety of campus visitors</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn  btn-info" data-dismiss="modal">Close</button>
              </div>
            </div>
           </div>
        </div>
       </div>
       </section>


                <!-- Partner Logo Section Begin -->
                <div class="partner-logo mt-5">
                    <div class="container">
                        <div class="logo-carousel owl-carousel">
                            <div class="logo-item">
                                <div class="tablecell-inner">
                                    <img src="{% static 'img/logo-carousel/logo-1.png' %}" alt="">
                                </div>
                            </div>
                            <div class="logo-item">
                                <div class="tablecell-inner">
                                    <img src="{% static 'img/logo-carousel/logo-2.png' %}" alt="">
                                </div>
                            </div>
                            <div class="logo-item">
                                <div class="tablecell-inner">
                                    <img src="{% static 'img/logo-carousel/logo-3.png' %}" alt="">
                                </div>
                            </div>
                            <div class="logo-item">
                                <div class="tablecell-inner">
                                    <img src="{% static 'img/logo-carousel/logo-4.png' %}" alt="">
                                </div>
                            </div>
                            <div class="logo-item">
                                <div class="tablecell-inner">
                                    <img src="{% static 'img/logo-carousel/logo-5.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Partner Logo Section End -->
  <!-- Footer Section Begin -->
    <footer class="footer-sectionpng">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="{% static 'img/footer-logo.png' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road KN34 </li>
                            <li>Phone: +250786888</li>
                            <li>Email: info@delsa.com</li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Information</h5>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Join Our Newsletter Now</h5>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter Your Mail">
                            <button type="button">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text offset-3">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | CAETS Ltd
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="payment-pic">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->


    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'js/jquery.dd.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

        <script src=" {% static 'js/admin/form-validation/jquery.form.min.js' %}"></script>
        <script src=" {% static 'js/admin/form-validation/jquery.validate.min.js' %}"></script>
        <script src=" {% static 'js/admin/form-validation/form-active.js' %}"></script>

    <script src="{% static 'js/custom_script.js' %}"></script>

</body>

</html>